NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_publishable_key_from_clerk
CLERK_SECRET_KEY=your_secret_key_from_clerk
DATABASE_URL=your_url_from_postgress_db
UPLOADTHING_TOKEN=your_uploadthing_token
PUSHER_APP_ID=your_pusher_app_id
PUSHER_KEY=your_pusher_key
PUSHER_SECRET=your_pusher_secret
PUSHER_CLUSTER=your_pusher_cluster

NEXT_PUBLIC_PUSHER_KEY=your_pusher_key
NEXT_PUBLIC_PUSHER_CLUSTER=your_pusher_cluster

######### edit this file as .env and add your own keys to run the project